@*
    For more information on enabling MVC for empty projects, visit http://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}

<script src="~/js/index.js"></script>
<h3>Neo Form</h3>

<form id="dateSubmit" method="post">
    <input type="date" name="TargetDate" id="TargetDate" value="2017-03-01"/>
    <button type="submit">Get NEO's</button>
</form>
<canvas id="myChart" width="400" height="400"></canvas>
<div id="neoResult"></div>

